openapi: '3.0.3'
info:
  title: Online library service
  version: '1.0'
servers:
  - url: http://library.istu.edu/
tags:
  - name: client
  - name: catalog
  - name: basket
paths:
  /api/book/:
    get:
      tags:
        - catalog
      summary: Список книг с фильтрами
      parameters:
        - name: filter_name
          in: query
          schema:
            description: Фильрация по названию книги
            type: string
        - name: filter_author
          in: query
          schema:
            description: Фильтрация по автору
            type: string
        - name: filter_library
          in: query
          schema:
            description: Фильтрация по филиалам
            type: string
        
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
  /api/book/{id}/:
    get:
      tags:
        - catalog
      summary: Информация о книге по id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '404':
          description: Книга не найдена
  /api/basket/:
    post:
      tags:
        - catalog
      summary: Добавление книги в корзину
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_id:
                  type: string
                  example: L711
      responses:
        '200':
          description: OK
        '404':
          description: Книга не найдена
  /api/libraries/:
    get:
      tags:
        - catalog
      summary: Получение спсика филиалов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Library'
components:
  schemas:
    Book:
      properties:
        id:
          type: string
        name:
          description: Название книги
          type: string
        author:
          description: Автор книги
          type: string
        book_description:
          description: Описание книги
          type: string
        book_logo:
          description: Обложка книги
          type: string
        links:
          description: Ссылки, сопровождающие книгу
          type: object
          properties:
            url:
              description: Ссылки
              type: string           
            description:
              description: Опсиание ссылки
              type: string
        library:
          description: ID филиала, где находится книга
          type: number
        copies_count:
          description: Количество экземпляров книги доступных к заказу
          type: number
        can_be_ordered:
          description: Можно ли заказать книгу
          type: boolean
    Library:
      properties:
        name:
          description: Название филиала
          type: string
        address:
          description: Адрес филиала
          type: string