openapi: '3.0.3'
info:
  title: Online library service
  version: '1.0'
servers:
  - url: http://library.istu.edu/
tags:
  - name: client
  - name: catalog
  - name: basket

paths:
  /api/book/:
    get:
      tags:
        - catalog
      summary: Список книг с фильтрами
      parameters:
        - name: name
          in: query
          description: Фильтрация по названию книги
          schema:
            type: string
            example: Война и мир
        - name: author
          in: query
          description: Фильтрация по автору
          schema:
            type: string
            example: Толстой
        - name: library
          in: query
          description: Фильтрация по филиалам
          schema:
            anyOf:
              - type: string
                example: istu
              - type: array
                items:
                  type: string
                  example: istu
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
  /api/book/{id}/:
    get:
      tags:
        - catalog
      summary: Информация о книге по id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '404':
          description: Книга не найдена
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
  
  /api/basket/:
    get:
      tags:
        - basket
        - client
      summary: Получение списка книг в корзине
      responses:
        '401':
          description: Unauthorized
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: id книги
    post:
      tags:
        - basket
        - client
      summary: Добавление книги в корзину
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_id:
                  type: string
                  example: L711
      responses:
        '401':
          description: Unauthorized
        '404':
          description: Книга не найдена
        '200':
          description: OK
    put:
      tags:
        - basket
        - client
      summary: Редактирование списка книг в корзине
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                description: id книги
      responses:
        '401':
            description: Unauthorized
        '404':
          description: Книга не найдена
        '200':
          description: OK
  /api/basket/{id}/:
    delete:
      tags:
        - basket
        - client
      summary: Удаление книги из корзины    
      responses:
        '401':
          description: Unauthorized
        '404':
          description: Книга не найдена
        '200':
          description: OK  
  
  /api/library/:
    get:
      tags:
        - catalog
      summary: Получение списка филиалов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Library'
  /api/library/{name}/:
    get:
      tags:
        - catalog
      summary: Информация о филиале по названию
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            example: istu
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Library'
        '404':
          description: Филиал не найден

components:
  schemas:
    Book:
      properties:
        id:
          type: string
          example: L711
        name:
          description: Название книги
          type: string
        author:
          description: Автор книги
          type: string
        book_description:
          description: Описание книги
          type: string
        book_logo:
          description: Обложка книги
          type: string
          nullable: true
        links:
          description: Ссылки, сопровождающие книгу
          type: array
          nullable: true
          items:
            type: object
            properties:
              url:
                description: Ссылка
                type: string           
              description:
                description: Описание ссылки
                type: string
        library:
          description: Филиал, где находится книга
          type: string
          example: istu
        copies_count:
          description: Количество экземпляров книги доступных к заказу
          type: number
        can_be_ordered:
          description: Можно ли заказать книгу
          type: boolean
      
    Library:
      properties:
        name:
          description: Название филиала
          type: string
          example: istu
        description:
          description: Описание филиала
          type: string
          example: Библиотека ИрНИТУ
        address:
          description: Адрес филиала
          type: string
          example: г. Иркутск, ул. Лермонтова, 83